.thead-dark { 
    position: sticky; 
    z-index: 1;
    top: 0; 
  } 

// scrollbar for form
  .a::-webkit-scrollbar {
    width: 10px;
  }
  
  .a::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
  }
  .a::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #038EDC;
  }

  .form-control-sm{
    z-index: 1000;
  }