<!-- <div class="row">
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="font-size-xs text-uppercase">Total Revenue</h6>
                        <h4 class="mt-4 font-weight-bold mb-2 d-flex align-items-center">
                            $46.34k
                        </h4>
                        <div class="text-muted">Earning this month</div>
                    </div>
                    <div>
                        <div class="dropdown" ngbDropdown>
                            <a class="dropdown-toggle btn btn-light btn-sm" href="javascript:void(0);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                ngbDropdownToggle><span class="text-muted">Monthly<i
                                        class="mdi mdi-chevron-down ms-1"></i></span>
                            </a>

                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);">Monthly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Yearly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Weekly</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <apx-chart class="apex-charts mt-3" dir="ltr" [series]="revenueChart.series"
                        [chart]="revenueChart.chart" [colors]="revenueChart.colors" [stroke]="revenueChart.stroke"
                        [tooltip]="revenueChart.tooltip" [plotOptions]="revenueChart.plotOptions">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="font-size-xs text-uppercase">Total Refunds</h6>
                        <h4 class="mt-4 font-weight-bold mb-2 d-flex align-items-center">
                            $895.02
                        </h4>
                        <div class="text-muted">Refunds this month</div>
                    </div>
                    <div>
                        <div class="dropdown" ngbDropdown>
                            <a class="dropdown-toggle btn btn-light btn-sm" href="javascript:void(0);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                ngbDropdownToggle><span class="text-muted">Monthly<i
                                        class="mdi mdi-chevron-down ms-1"></i></span>
                            </a>

                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);">Monthly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Yearly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Weekly</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <apx-chart class="apex-charts" dir="ltr" [series]="refundsChart.series" [chart]="refundsChart.chart"
                        [fill]="refundsChart.fill" [colors]="refundsChart.colors" [stroke]="refundsChart.stroke"
                        [tooltip]="refundsChart.tooltip">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="font-size-xs text-uppercase">Active Users</h6>
                        <h4 class="mt-4 font-weight-bold mb-2 d-flex align-items-center">
                            6,985
                        </h4>
                        <div class="text-muted">Users this Week</div>
                    </div>
                    <div>
                        <div class="dropdown" ngbDropdown>
                            <a class="dropdown-toggle btn btn-light btn-sm" href="javascript:void(0);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                ngbDropdownToggle><span class="text-muted">Weekly<i
                                        class="mdi mdi-chevron-down ms-1"></i></span>
                            </a>

                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);">Monthly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Yearly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Weekly</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <apx-chart class="apex-charts mt-3" dir="ltr" [series]="userChart.series" [chart]="userChart.chart"
                        [colors]="userChart.colors" [plotOptions]="userChart.plotOptions" [stroke]="userChart.stroke"
                        [tooltip]="userChart.tooltip">
                    </apx-char>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="font-size-xs text-uppercase">All Time Orders</h6>
                        <h4 class="mt-4 font-weight-bold mb-2 d-flex align-items-center">
                            12,584
                        </h4>
                        <div class="text-muted">Total Number of Orders</div>
                    </div>
                    <div>
                        <div class="dropdown" ngbDropdown>
                            <a class="dropdown-toggle btn btn-light btn-sm" href="javascript:void(0);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                ngbDropdownToggle><span class="text-muted">Yearly<i
                                        class="mdi mdi-chevron-down ms-1"></i></span>
                            </a>

                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:void(0);">Monthly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Yearly</a>
                                <a class="dropdown-item" href="javascript:void(0);">Weekly</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <apx-chart class="apex-charts mt-3" dir="ltr" [series]="orderChart.series" [fill]="orderChart.fill"
                        [chart]="orderChart.chart" [colors]="orderChart.colors" [stroke]="orderChart.stroke"
                        [tooltip]="orderChart.tooltip">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
</div> -->