<div class="row">
    <div class="col-lg-12">
      <div class="card" style="min-height: 75vh;">
        <div class="card-body">
            <app-loader
            [activeView]="activeView"
            [count]="count"
            [title]="title"
            [basePath]="basePath"
            [enableExport]="true"
            [enablePdfExport]="true"
            [enableCsvExport]="true"
            [exportableData]="items"
            [exportableColumns]="exportColumns"
            [fileName]="filename"
            (toggleView)="onToggleView($event)"
            (searchQuery)="onSearchQuery($event)"
          ></app-loader>
           <div>
            <ng-container *ngIf="activeView === 'grid'">
              <app-grid
                (cardClick)="onCardClick($event)"
                [fields]="fields"
                [items]="items"
              >
              </app-grid>
            </ng-container>
            <ng-container *ngIf="activeView === 'list'">
              <app-list
                (cardClick)="onCardClick($event)"
                [data]="items"
                [columns]="cols"
              >
              </app-list>
            </ng-container>
  
            <ng-container *ngIf="activeView === 'form'"> 
               <div class="container mt-4">
                  <div>
                    <h4 class="text-primary">
                      {{ selectedItemId ? "Update Entity Detaily" : "Add New Entity" }}
                    </h4>
                  </div>
  
                      <div class="card">
                          <div class="card-body projectForm">
  
                              <form [formGroup]="entityForm" (ngSubmit)="onSubmit()">
                                  <ng-stepper #cdkStepper [linear]="true" class="cdksteppercontent">
                                    
                                    <!-- Step 1: General Information -->
                                    <cdk-step [optional]="false">
                                      <ng-template cdkStepLabel>
                                        <div class="step-icon" title="General Info">
                                          <i class="uil uil-clipboard-notes"></i>
                                        </div>
                                      </ng-template>
                                      <div *ngIf="cdkStepper.selectedIndex === 0">
                                        <div class="text-center mb-2">
                                          <h5>Entity Details</h5>
                                        </div>
                                
                                        <div class="row mb-3">
                                          <div class="col-md-3"><label class="form-label">Company Name<span class="text-danger">*</span></label></div>
                                          <div class="col-md-3">
                                            <ng-select
                                              [items]="companyField"
                                              bindLabel="name"
                                              bindValue="id"
                                              placeholder="Select Company"
                                              formControlName="companyId"
                                              class="form-control">
                                            </ng-select>
                                            <div
                                            *ngIf="entityForm.get('companyId')?.invalid && (entityForm.get('companyId')?.touched || entityForm.get('companyId')?.dirty)"
                                            class="text-danger">
                                            Company selection is required.
                                          </div>
                                          </div>
                                       </div>
                                
                                        <div class="row mb-3">
                                          <div class="col-md-3"><label class="form-label">Entity Name<span class="text-danger">*</span></label></div>
                                          <div class="col-md-3"><input type="text" formControlName="entityName" class="form-control">
                                            <div
                                            *ngIf="entityForm.get('entityName')?.invalid && (entityForm.get('entityName')?.touched || entityForm.get('entityName')?.dirty)"
                                            class="text-danger">
                                            Company selection is required.
                                          </div></div>
                                          <div class="col-md-3"><label class="form-label">Entity Prefix<span class="text-danger">*</span></label></div>
                                          <div class="col-md-3">
                                            <input type="text" minlength="3" maxlength="5" formControlName="entityPrefix" class="form-control">
                                            <div class="text-danger" *ngIf="entityForm.get('entityPrefix')?.touched && entityForm.get('entityPrefix')?.invalid">
                                              <div *ngIf="entityForm.get('entityPrefix')?.errors?.['minlength']">Minimum 3 characters required.</div>
                                              <div *ngIf="entityForm.get('entityPrefix')?.errors?.['maxlength']">Maximum 5 characters allowed.</div>
                                              <div
                                              *ngIf="entityForm.get('entityPrefix')?.invalid && (entityForm.get('entityPrefix')?.touched || entityForm.get('entityPrefix')?.dirty)"
                                              class="text-danger">
                                              Entity Prefix is required.
                                            </div>
                                            </div>
                                          </div>
                                        </div>
  
                                      </div>
                                      <div class="d-flex gap-3 mt-4">
                                        <button type="button" class="btn btn-primary w-sm" (click)="onBack()">Back</button>
                                        <button type="submit" class="btn btn-success w-sm ms-auto">{{ selectedItemId && selectedItemId != 0 ? 'Update' : 'Save' }}</button>
                                    </div>
                                    </cdk-step>
                                  </ng-stepper>
                                </form>
                                
                          </div>
                      </div>
   
                </div> 
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  