<h5 class="card-title font-size-20 text-primary">
  {{ title }}
</h5>

 <form class="mb-5" [formGroup]="invoiceform">
  <div style="height: 14vh; overflow-x: hidden; overflow-y: scroll">
    <div class="row">
      <div *ngFor="let field of fields" class="col-md-3">
        <div class="form-group row align-items-center">
          <label [for]="field.name" class="col-sm-4 col-form-label font-size-12"
            >{{ field.label }}
          </label>
          <div class="col-sm-8">
            <ng-container [ngSwitch]="field.type">
              <input
                *ngSwitchCase="'text'"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
                class="form-control font-size-12 form-control-sm"
                [readOnly]="field.editable"
              />
              <input
                *ngSwitchCase="'password'"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
                class="form-control font-size-12 form-control-sm"
                [readOnly]="field.editable"
              />
              <input
                *ngSwitchCase="'number'"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
                class="form-control font-size-12 form-control-sm"
                [readOnly]="field.editable"
              />
              <input
                *ngSwitchCase="'email'"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
                class="form-control font-size-12 form-control-sm"
                [readOnly]="field.editable"
              />
              <input
                *ngSwitchCase="'date'"
                type="date"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
                class="form-control font-size-12 form-control-sm"
                [readOnly]="field.editable"
              />
              <input
                *ngSwitchCase="'month-year-picker'"
                type="month"
                [formControlName]="field.name"
                class="form-control font-size-12 form-control-sm"
                [readOnly]="field.editable"
              />
            
             
            <ng-select  *ngIf="!field.editable && field.type === 'select'"
              [items]="field.options"

              bindLabel="value"
              bindValue="value"
              [searchable]="true"
              [formControlName]="field.name"
              class="form-control font-size-12 form-control-sm"
            >
              <ng-option
                *ngFor="let option of field.options"
                [value]="option.value"
                class="font-size-10 form-control-sm custom-dropdown"
              >
                {{ option.label}}
              </ng-option>
            </ng-select>
            <input *ngIf="field.editable && field.type === 'select'"
              type="text"
              class="form-control font-size-12 form-control-sm"
              [formControlName]="field.name"
              readonly
              [id]="field.name"
        
              [name]="field.name"
            />

            <input
              *ngIf="field.type === 'file'"
              type="file"
              class="form-control font-size-12 form-control-sm"
              [formControlName]="field.name"
              [id]="field.name"
              [name]="field.name"
            />
            </ng-container>
          </div>
          <div *ngIf="readonly" class="col-sm-8">
            {{rootData[field.name]}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <app-multiline-form
      #childForm
      [tableColumns]="tableColumns"
      [tdata]="tdata"
      [readonly]="makeitemreadonly"
    ></app-multiline-form>
  </div>

  <div style="height: 6vh; overflow-y: auto; overflow-x: hidden">
    <div class="row">
      <div class="col-md-3" *ngFor="let total of totals">
        <div class="form-group row align-items-center">
          <label
            [for]="total.name"
            class="col-sm-6 col-form-label font-size-12"
            >{{ total.label | titlecase }}</label
          >
          <div class="col-sm-6">
            <input
              type="number"
              class="form-control font-size-12 form-control-sm"
              [id]="total.name"
              [formControlName]="total.name"
              [name]="total.name"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showFnKeyControls" class="d-flex justify-content-end md-2 mb-1">
    <button
      *ngFor="let button of buttons"
      [type]="button.type === 'primary' ? 'submit' : 'button'"
      [ngClass]="{
        'btn-primary': button.type === 'primary',
        'btn-secondary': button.type === 'secondary'
      }"
      class="btn btn-sm me-2"
      (click)="button.action()"
    >
      {{ button.label }}
    </button>
  </div>
</form>
