<div class="row">
    <div class="col-lg-12">
      <div class="card" style="min-height: 75vh;">
        <div class="card-body">
            <app-loader
            [activeView]="activeView"
            [count]="count"
            [title]="title"
            [basePath]="basePath"
            [enableExport]="true"
            [enablePdfExport]="true"
            [enableCsvExport]="true"
            [exportableData]="items"
            [exportableColumns]="exportColumns"
            [fileName]="filename"
            (toggleView)="onToggleView($event)"
            (searchQuery)="onSearchQuery($event)"
          ></app-loader>
           <div>
            <ng-container *ngIf="activeView === 'grid'">
              <app-grid
                (cardClick)="onCardClick($event)"
                [fields]="fields"
                [items]="items"
              >
              </app-grid>
            </ng-container>
            <ng-container *ngIf="activeView === 'list'">
              <app-list
                (cardClick)="onCardClick($event)"
                [data]="items"
                [columns]="cols"
              >
              </app-list>
            </ng-container>
  
            <ng-container *ngIf="activeView === 'form'"> 
               <div class="container mt-4">
                  <div>
                    <h4 class="text-primary">
                      {{ selectedItemId ? "Update Room Type Details" : "Add New Room Type" }}
                    </h4>
                  </div>
  
                      <div class="card">
                          <div class="card-body projectForm">
  
                              <form [formGroup]="roomtypeForm">
                                  <ng-stepper #cdkStepper [linear]="true" class="cdksteppercontent">
                                    
                                    <!-- Step 1: General Information -->
                                    <cdk-step [optional]="false">
                                      <ng-template cdkStepLabel>
                                        <div class="step-icon" title="General Info">
                                          <i class="uil uil-clipboard-notes"></i>
                                        </div>
                                      </ng-template>
                                      <div *ngIf="cdkStepper.selectedIndex === 0">
                                        <div class="text-center mb-4">
                                          <h5>Room Type Details</h5>
                                        </div>
                                
                                        <div class="row mb-3">
                                          <div class="col-md-3"><label class="form-label">Company Name</label></div>
                                          <div class="col-md-3">
                                            <ng-select
                                              [items]="companyField"
                                              bindLabel="name"
                                              bindValue="id"
                                              placeholder="Select Company"
                                              formControlName="companyId"
                                              class="form-control"
                                              (change)="onCompanyChange($event)">
                                            </ng-select>
                                            <div
                                            *ngIf="roomtypeForm.get('companyId')?.invalid && (roomtypeForm.get('companyId')?.touched || roomtypeForm.get('companyId')?.dirty)"
                                            class="text-danger">
                                            Company selection is required.
                                          </div>
                                          </div>
                                          <div class="col-md-3"><label class="form-label">Entity Name</label></div>
                                          <div class="col-md-3">
                                            <ng-select
                                              [items]="entityField"
                                              bindLabel="name"
                                              bindValue="id"
                                              placeholder="Select Company"
                                              formControlName="entityId"
                                              class="form-control"
                                              (change)="onEntityChange($event)">
                                            </ng-select>
                                            <div
                                            *ngIf="roomtypeForm.get('entityId')?.invalid && (roomtypeForm.get('entityId')?.touched || roomtypeForm.get('entityId')?.dirty)"
                                            class="text-danger">
                                            Entity selection is required.
                                          </div>
                                          </div>
                                        </div>
                                
                                        <div class="row mb-3">
                                          <div class="col-md-3"><label class="form-label">Location Name</label></div>
                                          <div class="col-md-3">
                                            <ng-select
                                            [items]="locationField"
                                            bindLabel="name"
                                            bindValue="id"
                                            placeholder="Select Location"
                                            formControlName="locationId"
                                            class="form-control"
                                            (change)="onLocationChange($event)">
                                          </ng-select>    
                                          <div
                                            *ngIf="roomtypeForm.get('locationId')?.invalid && (roomtypeForm.get('locationId')?.touched || roomtypeForm.get('locationId')?.dirty)"
                                            class="text-danger">
                                            Location selection is required.
                                          </div>
                                          </div>
                                          <div class="col-md-3"><label class="form-label">Building Name</label></div>
                                          <div class="col-md-3">
                                            <ng-select
                                            [items]="buildingField"
                                            bindLabel="name"
                                            bindValue="id"
                                            placeholder="Select Building"
                                            formControlName="buildingId"
                                            class="form-control">
                                          </ng-select>    
                                          <div
                                            *ngIf="roomtypeForm.get('buildingId')?.invalid && (roomtypeForm.get('buildingId')?.touched || roomtypeForm.get('buildingId')?.dirty)"
                                            class="text-danger">
                                            Building selection is required.
                                          </div>
                                          </div>
                                         </div>

                                        <div class="row mb-3">
                                            <div class="col-md-3"><label class="form-label">Rooms Type Name</label></div>
                                            <div class="col-md-3"><input type="text" formControlName="roomTypeName" class="form-control">
                                              <div
                                              *ngIf="roomtypeForm.get('roomTypeName')?.invalid && (roomtypeForm.get('roomTypeName')?.touched || roomtypeForm.get('roomTypeName')?.dirty)"
                                              class="text-danger">
                                              Floor Name is required.
                                            </div>
                                          </div>
                                            <div class="col-md-3"><label class="form-label">Rooms Type Code</label></div>
                                            <div class="col-md-3"><input type="text" formControlName="roomTypeCode" class="form-control">
                                              <div class="text-danger" *ngIf="roomtypeForm.get('roomTypeCode')?.touched && roomtypeForm.get('roomTypeCode')?.invalid">
                                                <div *ngIf="roomtypeForm.get('roomTypeCode')?.errors?.['minlength']">Minimum 3 characters required.</div>
                                                <div *ngIf="roomtypeForm.get('roomTypeCode')?.errors?.['maxlength']">Maximum 5 characters allowed.</div>
                                                <div
                                                *ngIf="roomtypeForm.get('roomTypeCode')?.invalid && (roomtypeForm.get('roomTypeCode')?.touched || roomtypeForm.get('roomTypeCode')?.dirty)"
                                                class="text-danger">
                                                Room Type Code is required.
                                              </div>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-3"><label class="form-label">Monthly Price Per Bed</label></div>
                                            <div class="col-md-3"><input type="text" formControlName="monthlyPrice" class="form-control">
                                              <div
                                              *ngIf="roomtypeForm.get('monthlyPrice')?.invalid && (roomtypeForm.get('monthlyPrice')?.touched || roomtypeForm.get('monthlyPrice')?.dirty)"
                                              class="text-danger">
                                              Monthly Price is required.
                                            </div>
                                          </div>
                                            <div class="col-md-3"><label class="form-label">Description</label></div>
                                            <div class="col-md-3"><input type="text" formControlName="description" class="form-control"></div>
                                         
                                          </div>
  
                                      </div>
                                      <div class="d-flex gap-3 mt-4">
                                        <button type="button" class="btn btn-primary w-sm" (click)="onBack()">Back</button>

                                        <!-- <button type="button" class="btn btn-primary w-sm ms-auto" id="nextBtn" cdkStepperNext>Next</button> -->
                                        <button type="button" class="btn btn-success w-sm ms-auto" (click)="onSubmit()">Submit</button>
 
                                    </div>
                                    </cdk-step>
                                  </ng-stepper>
                                </form>
                                
                          </div>
                      </div>
   
                </div> 
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  